body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('PRATOS/Design sem nome.png') no-repeat center center fixed;
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
}

h1 {
    color: #ffffff;
}

header {
    background-color: #8c0705; /* Vermelho escuro */
    color: #F0F0F0; /* Cinza Claro */
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2em;
}
nav select {
    display: block; /* Exibe o menu de seleção (dropdown) */
    width: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #8c0705;
    color: #f0f0f0; }

nav ul li {
    display: inline;
}

nav ul li a {
    color: #F0F0F0; /* Cinza Claro */
    text-decoration: none;
    font-weight: bold;
    font-size: x-large; /* Aumenta o tamanho das letras dos links */
}

.cardapio, .reservas, .conograma {
    background-color: rgba(192, 202, 51, 0.8); /* Verde Limão com transparência */
    margin: 2em auto;
    padding: 1em;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cardapio h1, .reservas h1, .conograma h1 {
    color:#8c0705; /* Laranja Vibrante */
    font-family: "Lora", system-ui;
    font-optical-sizing: auto;
    font-weight: weight ;
    font-style: normal;

}

.cardapio a, .reservas a, .conograma a {
    text-decoration: none;
    color: inherit;
    font-size: xx-large; /* Aumenta o tamanho das letras dos links */
}
.cardapio p, .reservas p, .conograma p {
    color: white;
    font-family: 'aplle';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2em;

}

.cardapio div, .reservas div, .conograma div {
    margin: 1em 0;
}

section#contact {
    background-color: rgba(0, 100, 0, 0.8); /* Verde escuro com transparência */
    color: #F0F0F0; /* Cinza Claro */
    padding: 2em;
    text-align: center;
}

footer {
    background-color: rgba(255, 87, 51, 0.8); /* Laranja Vibrante com transparência */
    color: #F0F0F0; /* Cinza Claro */
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
    font-family:apple ;
    src: url('font/AppleGaramond-Italic.ttf') format('truetype');
    font-weight: 2em;
    font-style: italic;
}

