body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0F0F0;
    color: #333;
}

header {
    background-color: #8c0705;
    color: #F0F0F0;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2em;
}
nav select {
    display: block; /* Exibe o menu de seleção (dropdown) */
    width: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #8c0705;
    color: #f0f0f0; }
nav ul li {
    display: inline;
}

nav ul li a {
    color: #F0F0F0;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.cronograma {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cronograma h2 {
    color: #8c0705;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1em;
}

.evento {
    margin-bottom: 2em;
}

.evento h3 {
    color: #FF5733;
    font-size: x-large;
    margin-bottom: 0.5em;
}

.evento p {
    font-size: medium;
    margin: 0.5em 0;
}

section#contact {
    background-color: rgba(0, 100, 0, 0.8);
    color: #F0F0F0;
    padding: 2em;
    text-align: center;
}

footer {
    background-color: rgba(255, 87, 51, 0.8);
    color: #F0F0F0;
    text-align: center;
    padding: 1em 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
