{% extends "base.html" %}
{% load static %}

{% block title %}
Home - LaCasita
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/cronograma.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="cronograma">
        <h2>Cronograma de Shows e Apresentações</h2>

        <div class="evento">
            <h3>Show de Mariachi</h3>
            <p><strong>Data:</strong> 25 de Agosto de 2024</p>
            <p><strong>Horário:</strong> 20:00</p>
            <p><strong>Descrição:</strong> Desfrute de uma autêntica apresentação de Mariachi com músicas tradicionais mexicanas.</p>
        </div>

        <div class="evento">
            <h3>Apresentação de Dança Folclórica</h3>
            <p><strong>Data:</strong> 1 de Setembro de 2024</p>
            <p><strong>Horário:</strong> 19:30</p>
            <p><strong>Descrição:</strong> Apresentação de danças folclóricas mexicanas, mostrando a rica cultura e tradição do México.</p>
        </div>

        <div class="evento">
            <h3>Noite de Salsa e Merengue</h3>
            <p><strong>Data:</strong> 8 de Setembro de 2024</p>
            <p><strong>Horário:</strong> 21:00</p>
            <p><strong>Descrição:</strong> Participe de uma noite animada com danças de Salsa e Merengue ao vivo.</p>
        </div>

        <div class="evento">
            <h3>Show de Guitarra Flamenca</h3>
            <p><strong>Data:</strong> 15 de Setembro de 2024</p>
            <p><strong>Horário:</strong> 20:30</p>
            <p><strong>Descrição:</strong> Uma performance incrível de guitarra flamenca para encantar os amantes da música espanhola.</p>
        </div>

        <div class="evento">
            <h3>Noite de Comédia Stand-Up</h3>
            <p><strong>Data:</strong> 22 de Setembro de 2024</p>
            <p><strong>Horário:</strong> 19:00</p>
            <p><strong>Descrição:</strong> Divirta-se com os melhores comediantes em uma noite de comédia stand-up.</p>
        </div>
    </section>
</main>

{% endblock %}
